.buttonList {
    background: var(--white);
    border: 1px solid var(--gray-c4);
    position: relative;
    margin-top: 10px;
}


.buttonList::before {
    content: "";
    position: absolute;
    z-index: 3;
    width: 0;
    height: 0;
    border-bottom: 8px solid var(--white);
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
}


.buttonList::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border-bottom: 9px solid var(--gray-c4);
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
}


.headButton:hover {
    color: var(--green-middle);
    transition: color 0.3s ease-in-out;
}

.buttonMenu {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.buttonMenu span {
    transition: color 0.3s ease-in-out;
}

.buttonMenu:hover span{
    transition: color 0.3s ease-in-out;
    color:var(--green-middle)
}


.buttonIcon {
    margin-right: 10px;
}

.buttonText {
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    color: var(--gray);
}